
.footer {
	background-color: $navy;
	padding: 100px 0 70px;
	color: $white;

	&__nav {
		display: block;
		padding-top: 40px;
		text-align: right;
	}

	&__nav-list {
		padding-left: 185px;
	}

	&__nav-item {
		border-top: 1px solid $darksteelblue;
		padding: 7px 0;
		list-style: none;

		&:first-child {
			border: none;
		}
	}

	&__link {
		text-decoration: none !important;
		color: $white;
		font-family: $roboto;

		&:hover {
			color: $yellow;
		}

		&:active {
			color: $yellow;
		}
	}

	&__social {
		margin-bottom: 80px;
	}

	&__social-link {
		margin: 5px;
		color: $gold;
		font-size: 18px;

		&:hover {
			text-decoration: none;
			color: $white;
		}
	}

	&__back-to-top {
		font-size: 13px;
	}

	&__copyright {
		text-align: center;
		font-family: $roboto;
		font-size: 14px;
	}

	&__copyright-icon {
		display: block;
		margin: 15px auto;
	}
}
