
.help {
	padding: 8px 23px 19px 42px;
	line-height: 24px;
	color: $midnightblue;

	&__message {
		font-size: 11px;
	}

	&__btn {
		margin-right: 10px;
	}

	&__tel {
		border-left: 1px solid $lightgray;
		padding: 7px 0 7px 14px;
		color: $midnightblue;
	}

	&__tel:hover {
		text-decoration: none;
		color: $yellow;
	}
}
