
.btn {
	display: inline-block;
	border: 3px solid $yellow;
	background-color: $yellow;
	padding: 5px 15px;
	text-decoration: none;
	color: $midnightblue;
	font-size: 12px;

	&:hover {
		border: 3px solid $lightsandybrown;
		background-color: $lightsandybrown;
		text-decoration: none;
	}

	&--empty {
		border: 3px solid $white;
		background-color: $transparent;
		color: $white;
	}

	&--big {
		padding: 14px 60px;
		font-size: 17px;

		&:hover {
			border: 3px solid $lightsandybrown;
			background-color: $transparent;
			color: $lightsandybrown !important;
		}
	}
}
