
.plans-pricing {
	background-color: $midnightblue;

	&__question-container {
		padding: 100px 0 90px 80px;
	}

	&__button-container {
		padding: 90px 0 0 40px;
	}

	&__h1 {
		color: $white;
		font-size: 35px;
	}

	&__text {
		color: $darksteelblue;
	}

	&__button {
		border: 3px solid $white;
		padding: 25px 40px;
		font-size: 18px;
	}
}
