$arial: 'Arial', sans-serif;
$slabo: 'Slabo 27px', serif;
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;

$white: white;
$darkwhite: #faf9f9;
$seashell: #fbf8f1;
$lightgray: #ebebeb;
$lightsilver: #e7e7ea;
$darkgray: #ababab;
$dimgray: #8d8d99;
$lightblack: #2f2f2f;
$lightsandybrown: #ffd46e;
$gold: #f4d320;
$yellow: #ffe13e;
$darksteelblue: #67687b;
$navy: #363855;
$midnightblue: #202242;
$transparent: transparent;
