
.clients {
	padding: 90px 0;

	&__title {
		margin-bottom: 30px;
	}

	&__text {
		margin-bottom: 80px;
		color: $darkgray;
		font-family: $roboto;
		font-size: 16px;
	}

	&__item {
		padding: 6px 0;
		width: 100%;
	}
}
