
.nav-links {
	margin: 0;
	padding: 42.5px 27px;
	list-style: none;

	&__item {
		display: inline-block;
		margin: 0 18px;
		text-transform: uppercase;
	}

	&__link {
		text-decoration: none !important;
		color: $midnightblue;

		&:hover {
			color: $yellow;
		}

		&:active {
			color: $yellow;
		}
	}
}
